.navbar {
    position: relative;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: var(--content-width);
}

.navigation-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hamburger-menu {
    display: none;
    font-size: 30px;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
}

.navigation-item {
    min-width: fit-content;
    font-weight: 600;
    padding: 10px;
    font-size: 15px;
}

.navigation-item a {
    text-decoration: none;
    color: black;
}

.navigation-item:hover {
    color: #A01441;
    transition: all 0.4s ease 0s;
    cursor: pointer;
    transform: scale(1.2);
}

.navigation-item:hover,
.navigation-item.active {
    color: #A01441;
}

@media (max-width: 960px) {
    .navbar-container {
        justify-content: start;
    }
    .navigation-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px;
    }

    .navigation-items.open {
        display: flex;
    }

    .hamburger-menu {
        display: block;
    }

    .logo {
        margin-left: 10px;
    }

    .desktop-auth-button {
        display: none;
    }

    .mobile-auth-item {
        color: #a01441;
        font-weight: bold;
    }
}

@media (min-width: 960px) {
    .desktop-auth-button {
        display: flex;
    }

    .mobile-auth-item {
        display: none;
    }
}